<header [ngClass]="flag ? 'header-container header-font2' : 'header-container header-font'">
    <div>
        <h1>Cozy House</h1>
        <p>Shelter for pets in Boston</p>
    </div>
    <nav class="nav">
        <ul>
            <li><a [routerLink]="['/']">About the shelter</a></li>
            <li><a [routerLink]="['/pets']">Our pets</a></li>
            <li><a [routerLink]="['/']" fragment = "1" >Help the shelter</a></li>
            <li><a [routerLink]="['/']" fragment = "2" >Contacts</a></li>
        </ul>
    </nav>
    <div class="burger">
        <button [ngClass]="{transformed: burger}"(click)="clickBurger()"><span></span></button>
        <div class="burger-container" *ngIf="burger">
            <ul class="burger-menu">
                <li><a [routerLink]="['/']" (click)="clickBurger()">About the shelter</a></li>
                <li><a (click)="clickBurger()" [routerLink]="['/pets']" >Our pets</a></li>
                <li><a [routerLink]="['/']" fragment = "1" (click)="clickBurger()">Help the shelter</a></li>
                <li><a [routerLink]="['/']" fragment = "2" (click)="clickBurger()">Contacts</a></li>
            </ul>
        </div>
    </div>
</header>
