<header [ngClass]="flag ? 'header-container header-font2' : 'header-container header-font'">
    <div>
        <h1>Cozy House</h1>
        <p>Shelter for pets in Boston</p>
    </div>
    <nav class="nav">
        <ul>
            <li><a [routerLink]="['/']">About the shelter</a></li>
            <li><a [routerLink]="['/pets']">Our pets</a></li>
            <li><a [routerLink]="['/']" fragment = "1" >Help the shelter</a></li>
            <li><a [routerLink]="['/']" fragment = "2">Contacts</a></li>
        </ul>
    </nav>
</header>
