<div class="hero-gradient">
    <shelter-header></shelter-header>
    <section class="hero">
        <div class="hero-container">
            <h2>Not only people need a house</h2>
            <p>We offer to give a chance to a little and nice puppy with an extremely wide and open heart. He or she will love you more than anybody else in the world, you will see!</p>
            <button class="my-button">Make a friend</button>
        </div>
        <img src="/assets/img/start-screen-puppy.png" alt="щенок" />
    </section>
</div>
<router-outlet></router-outlet>
<shelter-footer></shelter-footer>
